/node_modules
/public/hot
/public/storage
/public/img/penyuluh
/public/img/kelTani
/public/img/P4S
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
