.row-header{
  margin-top: -25px;
}

.control-label{
  top: 5px;
}

.paginate_button{
  display: contents !important;
}

.input-lg{
  font-size: 14px;
}

.forget-pass {
  margin: 10px 0 !important;
}

img.login-logo  {
  margin:15px;
  max-width: 230px !important;
}

.login-panel {
  box-shadow: 0px 0px 7px 2px #656565 !important;
}

.header-login {
  border-bottom: 1px solid #e3e3e3;
}

.table-custom{
  font-size: 14px;
  th{
    text-align: center;
    white-space: nowrap;
  }
  td{
    vertical-align: middle !important;
  }
  td:last-child:not(.child){
    text-align: center;
    white-space: nowrap;
  }
  .nowrap{
    white-space: nowrap;
  }
  .dtr-details{
    @media screen and (max-width: $media-sm){
      width: 100%;
    }
    li{
      display: flex !important;
    }
    .dtr-title{
      min-width: 50% !important;
    }
    .dtr-data{
      white-space: normal;
      display: inline-table;
      min-width: 50%;
      :first-child{
        margin-right: 0.25em;
      }
      :last-child{
        margin-left: 0.25em;
      }
    }
    :last-child{
      .dtr-data{
        white-space: nowrap;
      }
    }
  }
}
.dataTables_wrapper .row:first-child{
  div{
    @media screen and (max-width: $media-sm){
      width:100% !important;
    }
  }
  .dataTables_filter{
    input{
      height: 30px;
    }
  }
}

.select2-container {
  width: 100% !important;
  .select2-selection--multiple{
    min-height: 45px;
    padding: 6px 7px;
  }
  .select2-selection--single{
    min-height: 45px;
    padding: 6px 7px;
  }
  .select2-selection__arrow{
    top: 10px !important;
    right: 3px !important;
  }
}

.span-list{
  margin: 3px !important;
}

.show{
  opacity: 1;
}

.modal-dialog{
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
}

.input-group-btn > .btn{
  z-index: 1 !important;
  margin-left: -5px !important;
}

.img-45{
  max-width: 45px;
  max-height: 45px;
}

input[type="file"]{
  padding: 13px 6px;
}
