.row-header{
  margin-top: -25px;
}

.control-label{
  top: 5px;
}

.paginate_button{
  display: contents !important;
}

.input-lg{
  font-size: 14px;
}

.forget-pass {
	margin: 10px 0 !important;
}

img.login-logo  {
  margin:15px;
  max-width: 230px !important;
}

.login-panel {
	box-shadow: 0px 0px 7px 2px #656565 !important;
}

.header-login {
	border-bottom: 1px solid #e3e3e3;
}

.table-custom{
  th:not(:first-child), td:not(:first-child){
    white-space: nowrap;
  }
  th{
    text-align: center;
  }
  td:last-child:not(.child){
    text-align: center;
  }
  .nowrap{
    white-space: nowrap;
  }
}

.table{
  th, td{
    font-size: 14px;
  }
  th:last-child, td:last-child{
    white-space: nowrap;
  }
}

.select2-container .select2-selection--multiple{
  min-height: 45px;
  padding: 6px 7px;
}

.span-list{
  margin: 3px !important;
}

.show{
  opacity: 1;
}

.modal-dialog{
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
}

.input-group-btn > .btn{
  z-index: 1 !important;
  margin-left: -5px !important;
}
