.row-header{
  margin-top: -25px;
}

.control-label{
  top: 5px;
}

.paginate_button{
  display: contents !important;
}

.input-lg{
  font-size: 14px;
}


.forget-pass {
	margin: 10px 0 !important;
}

img.login-logo  {
  margin:15px; 
  max-width: 300px !important;
}
